.caixas {
    display: flex;
    flex-direction: column;
   
    max-width: 285px;
    background-color: rgb(31 41 55);
    border-radius: 6px;
    border: 1px solid rgb(55 65 81);
    }
    .caixa {
        display: flex;
        flex-direction: column;
       
        max-width: 285px;
       background-color:  rgb(31 41 55);
        border-radius: 6px;
        border: 1px solid rgb(59 130 246); 
    }
    .item {
        display: flex;
        align-items: center; 
        margin-bottom: 10px; 
      }
    body{
        background-color: rgb(17 24 39);
    }
    .boxes {
        display: flex;
        justify-content: space-around;
    }
    .c {
      background-color:   rgb(75 85 99);
      color: white;
      max-width: 245px;
      
    }
    .cs {
 
    background-color: rgb(29 78 216);
    color: white;
    max-width: 245px;

    }

    
    h1 {
        color: white;
    }
    h3 {
        color: white;
    }
    .svg-icon {
        margin-right: 8px; 
      
      
      

        width: 24px;
        height: 24px;
      }
      .svg-icons {
        margin-right: 8px; 
      }
      
      
      .svg-icons {
        width: 34px;
        height: 34px;
      }